// Library
@import "~bootstrap/scss/bootstrap";
@import "assets/scss/boostwatch/variables";
@import "assets/scss/boostwatch/bootswatch";


body {
    background-color: lightgray;
}

img.travel {
   width: 400px;
    height: 400px;
}
