<div class="container">
<div class="title d-flex justify-content-center">
 <div class="words align-self-center">
 <h4>Doctofriend's, une autre façon de voyager pour vos rendez-vous médicaux</h4>
<h4> Ne soyez plus seul !</h4>
 </div>
<img class="travel" src="{{ asset('build/travel.svg') }}">
</div>
 <h5 class="text-center mt-5"> Remplissez notre formulaire pour trouver un compagnon de voyage</h5>
 <div class="d-flex justify-content-center">
 <img class="travel mt-5" src="{{ asset('build/couple.svg') }}">
 </div>
 <div class="mt-3 d-flex justify-content-center">
 <a class="btn bg-warning" href="#">Formulaire</a>
 </div>
</div>
