<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Adadain Quentin, Gonçalves Laetitia, Bourg Elisa Ardilouze Timothée">
        <meta name="description" content="">
        <title>{% block title %}Hackaton!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <header>
            {% include 'components/_navbar.html.twig' %}
        </header>
    </head>
    <body>

        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

    </body>
</html>
