<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div>
           <img src="{{ asset('/build/logo.png') }}" alt="doctofriends" class="image-logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    </div>
    <div>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link font-weight-bold li" href="{{ path('formule') }}">Formules <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    </div>
</nav>
